/* ----FONTS START---- */
@font-face {
    src: url(../fonts/Montserrat/Montserrat-ExtraBold.ttf);
    font-family: "Montserrat";
    font-weight: 800;
}

@font-face {
    src: url(../fonts/Montserrat/Montserrat-Medium.ttf);
    font-family: "Montserrat";
    font-weight: 500;
}

/* ----FONTS END---- */

/* --------------------------------------------- */

/* ROOT Start */
:root {
    --dark: #1e1e1e;
    --dark-op: rgba(30, 30, 30, 0.6);
    --black: #000000;
    --mainFont: "Montserrat";
    --yellow: #ffe600;
    --yellow-80: rgba(251, 231, 49, 0.8);
    --white: #fff;
    --light: #fdfdfd;
    --grey: #808080;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none
}

body {
    font-family: var(--mainFont);
    background: var(--white);
    color: var(--dark);
}

main {
    min-height: calc(100vh - 278px);
}

.container {
    max-width: 1200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.section-title {
    font-size: 59px;
    font-weight: 800;
    color: var(--dark);
    line-height: 100px;
    text-transform: uppercase;
}

.section-info {
    font-size: 12px;
    font-weight: 500;
    line-height: 30px;
    color: var(--black);
    max-width: 623px;
    width: 100%;
}

::placeholder {
    font-size: 12px;
    color: var(--dark);
    font-weight: 500;
    font-family: var(--mainFont);
}

/* ----ROOT End---- */

/* --------------------------------------------- */

/* ----Header start---- */
.nav {
    padding-top: 35px;
}

.nav__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__menu ul {
    display: flex;
    align-items: center;
}

.nav__menu ul li {
    margin-left: 76px;
}

.nav__menu ul li a {
    color: var(--dark);
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 5px;
    transition: .5s;
}

.nav__menu ul li a.active::after {
    content: '';
    width: 100%;
    height: 2px;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    background: var(--yellow);
}

.nav__menu ul li a::after {
    content: '';
    width: 0;
    height: 2px;
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    background: var(--yellow);
    transition: .5s;
}

.nav__menu ul li a:hover::after {
    width: 100%;
    left: 0;
}

/* ----Header End---- */

/* --------------------------------------------- */

/* ----Main Start---- */
.main {
    min-height: 87vh;
    display: flex;
    align-items: center;
}

.main img {
    max-height: 541px;
    height: 100%;
    max-width: 571px;
    width: 100%;
    margin-left: 34px;
    object-fit: cover;
}

.main__content {
    display: flex;
    flex-direction: column;
}

.main__content h1 {
    font-size: 60px;
    font-weight: 800;
    line-height: 80px;
    color: var(--dark);
    white-space: pre-line;
}

.main__content p {
    font-size: 12px;
    font-weight: 500;
    color: var(--black);
    line-height: 30px;
    margin: 41px 0;
}

.main__content a {
    font-size: 15px;
    font-weight: 500;
    color: var(--dark);
    background: var(--yellow);
    display: inline-block;
    width: max-content;
    position: relative;
    padding: 17px 24px 17px 36px;
}

.main__content a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 1.5em;
    height: 100%;
    background: rgba(255, 255, 255, 0.4);
    transform: translateX(-4em) skewX(-45deg);
}

.main__content a:hover::before {
    animation: move-light 0.5s;
}

@keyframes move-light {
    from {
        transform: translateX(-4em) skewX(-45deg);
    }

    to {
        transform: translateX(14em) skewX(-45deg);
    }
}

/* ----Main End---- */

/* --------------------------------------------- */

/* ----Work Start---- */
.work {
    display: flex;
    flex-direction: column;
}

.work h2 {
    margin-bottom: 57px;
}

.work__nav {
    display: flex;
    justify-content: space-between;
}

.work__menu {
    display: flex;

}

.work__menu li a {
    display: inline-block;
    font-size: 12px;
    font-weight: 500;
    color: var(--dark);
    transition: .5s;
    padding: 7px 16px 7px 21px;
    margin-right: 10px;
    margin-bottom: 68px;
}

.work__menu li a:hover {
    background: var(--yellow);
}

.work__menu li a.active {
    background: var(--yellow);
}

/* ---- */
#workFilter {
    background: none;
    border: none;
    outline: none;
    font-size: 12px;
    color: var(--dark);
    font-weight: 500;
}
/* ---- */

#wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(50px, 150px);
    gap: 30px;
}

.card {
    margin-bottom: 65px;
}

.card__item {
    position: relative;
}

.card__item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card__item a {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--yellow-80);
    color: var(--dark);
    transition: .5s;
    opacity: 0;
}

.card__item a:hover {
    opacity: 1;
}

.card__item a h3 {
    margin-bottom: 35px;
    font-size: 30px;
    font-weight: 800;
    text-transform: uppercase;
}

.card__item a p {
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
}

.card__item:nth-of-type(1) {
    grid-row: 1 / 3;
}

.card__item:nth-of-type(2) {
    grid-row: 1 / 4;
}

.card__item:nth-of-type(3) {
    grid-row: 1 / 3;
}

.card__item:nth-of-type(4) {
    grid-row: 3 / 6;
}

.card__item:nth-of-type(5) {
    grid-row: 4 / 6
}

.card__item:nth-of-type(6) {
    grid-row: 3 / 6;
}

.work__showmore {
    display: inline-block;
    font-size: 12px;
    color: var(--dark);
    font-weight: 500;
    padding: 17px 46px 17px 46px;
    background: var(--yellow);
    margin: 0 auto 65px auto;
    position: relative;
}

.work__showmore::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 1.5em;
    height: 100%;
    background: rgba(255, 255, 255, 0.4);
    transform: translateX(-4em) skewX(-45deg);
}

.work__showmore:hover::before {
    animation: move-light-2 0.5s;
}

@keyframes move-light-2 {
    from {
        transform: translateX(-4em) skewX(-45deg);
    }

    to {
        transform: translateX(18em) skewX(-45deg);
    }
}

.works {
    display: flex;
    flex-wrap: wrap
}

.works__card {
    display: flex;
    padding-bottom: 30px;
}

.works__image {
    position: relative;
}

.works__image img {
    max-width: 280px;
    width: 100%;
    height: 400px;
    position: relative;
    object-fit: cover;
}

.works__desc {
    max-width: 300px;
    width: 100%;
    padding: 0 20px;
    text-align: justify;
}

.works__info {
    text-align: center;    
}

.works__info h3 {
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: 800;
    color: var(--dark);
    transition: .3s;
}

.works__info a h3:hover {
    color: var(--yellow-80);
}

.works__info p {
    font-size: 20px;
    color: var(--dark);
    font-weight: 500;
    margin-bottom: 10px;
}

.works__text p {
    text-indent: 10px;
}

.works__image a {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--yellow-80);
    color: var(--dark);
    transition: .5s;
    opacity: 0;
}

.works__image a:hover {
    opacity: 1;
}

.works__image a h3 {
    margin-bottom: 35px;
    font-size: 30px;
    font-weight: 800;
    text-transform: uppercase;
}

.works__image a p {
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
}

.work__pagin {
    display: flex;
    width: 100%;
    padding: 50px 0;
    justify-content: center;
}

.work__content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.work__content img {
    width: 500px;
    height: 500px;
    object-fit: cover;

}

.work__maindesc {
    max-width: 500px;
    width: 100%;
    padding: 0 10px;
}

.work__maindesc h1 {
    font-weight: 800;
    text-align: center;
}

.work__maindesc p {
    text-align: center;
    padding-top: 10px;
    font-weight: 500;
}

p.text-ind {
    text-align: justify;
    text-indent: 20px;
}

.work__skills {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding: 80px;
}

.work__skills-card p {
    margin-bottom: 10px;
}

.padding_bot {
    padding-bottom: 100px;
}

.img_size {
    position: relative;
}

.img_size a {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 42px;
    color: var(--white);
    background: var(--dark-op);
    opacity: 0;
    transition: .5s;
}

.img_size a:hover {
    opacity: 1;
}

.view {
    width: 100%;
    height: 100%;
    /* background: rgba(0, 0, 0, 0.835); */
    background: var(--dark-op);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
}
.view.active {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.view__close {
    color: var(--white);
    font-size: 32px;
    background: transparent;
    cursor: pointer;
    border: none;
    position: absolute;
    z-index: 999;
    right: 0;
    top: 0;
    transition: .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 75px;
    outline: none;
}

.view__close:hover {
    text-shadow: 0 0 15px var(--white);
}
.view > img {
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    max-height: 100%;
    width: auto !important;
    height: auto !important;
}

/* ----Work End---- */

/* --------------------------------------------- */

/* ----Partners Start---- */
.bg {
    background: var(--light);
}

.partners {
    padding: 116px 0 115px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* ----Partners End---- */

/* --------------------------------------------- */

/* ----About Us Start---- */
.about {
    margin-top: 127px;
    margin-bottom: 121px;
}

.about h4 {
    margin-bottom: 57px;
}

.about p {
    margin-bottom: 68px;
}

.about__cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about__card {
    width: 371px;
    height: 420px;
    position: relative;
}

.about__card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about__info {
    position: absolute;
    background: var(--yellow);
    padding: 14px 97px 18px 28px;
    bottom: 0;
    left: 0;
}

.about__info h5 {
    font-size: 15px;
    font-weight: 800;
    color: var(--dark);
}

.about__info p {
    font-size: 12px;
    font-weight: 500;
    color: var(--white);
    margin: 0;
}

.about__card:nth-of-type(3) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 7px solid var(--light);
    padding: 0 52px;
}

.about__card:nth-of-type(3) h5 {
    font-size: 20px;
    font-weight: 800;
    color: var(--dark);
}

.about__card:nth-of-type(3) p {
    font-size: 12px;
    line-height: 30px;
    color: var(--black);
    font-weight: 500;
    margin-top: 40px;
    margin-bottom: 54px;
}

.about__card:nth-of-type(3) a {
    font-size: 12px;
    color: var(--dark);
    font-weight: 500;
    transition: .5s;
    position: relative;
    padding-bottom: 5px;
    width: max-content;
}

.about__card:nth-of-type(3) a::after {
    content: '';
    width: 0;
    height: 2px;
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    background: var(--yellow);
    transition: .5s;
}

.about__card:nth-of-type(3) a:hover::after {
    width: 100%;
    left: 0;
}

.team {
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
    align-items: center;
}

.team h1 {
    font-weight: 800;
    font-size: 30px;
    padding: 20px 0;
    text-align: center;
}

.team__info {
    display: flex;
    padding: 50px 0 0 0;
    align-items: center;
}

.team__info img {
    max-width: 400px;
    width: 100%;
    object-fit: cover;
}

.team__desc {
    max-width: 600px;
    width: 100%;
    padding: 0 30px;
    text-align: justify;
}
.team__desc h2, .team__desc h3 {
    text-align: center;
    padding: 10px 0;
}

.team__desc h3 {
    font-weight: 500;
}

/* ----About Us End---- */

/* --------------------------------------------- */

/* ----Our Blog Start---- */
.blog {
    margin-top: 126px;
    padding-bottom: 120px;
}

.blog h4 {
    margin-bottom: 50px;
}

.blog p {
    margin-bottom: 65px;
}

.blog__cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blog__card {
    max-width: 372px;
    width: 100%;
    max-height: 460px;
    height: 100%;
}

.blog__post {
    height: 280px;
    position: relative;
}

.blog__post img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.blog__post a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--yellow-80);
    font-size: 30px;
    font-weight: 800;
    line-height: 100px;
    color: var(--dark);
    opacity: 0;
    transition: 0.5s;
}

.blog__post a:hover {
    opacity: 1;
}

.blog__info {
    padding: 33px 27px 28px 20px;
}

.blog__info h5 {
    font-size: 15px;
    font-weight: 800;
    text-transform: uppercase;
}

.blog__info p {
    margin-top: 29px;
    margin-bottom: 22px;
    font-size: 12px;
    font-weight: 500;
    line-height: 30px;
    color: var(--black);
}

.blog__info time {
    font-size: 12px;
    line-height: 30px;
    color: var(--dark);
    font-weight: 500;
}

.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
}

.banner h1 {
    font-size: 52px;
    width: 100%;
    width: max-content;
    font-weight: 800;
    text-transform: uppercase;
}

.banner h1 span {
    color: var(--yellow);
}

.banner p {
    font-size: 18px;
    padding-top: 15px;
    font-weight: 500;
}

.blog-page {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding-bottom: 50px;
}

.blog-page__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    max-width: 800px;
    width: 100%;
    padding-bottom: 50px;
}

.blog-page__card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.blog-page__info {
    padding: 15px 5px;
}

.blog-page__info h3 {
    font-size: 24px;
    padding: 5px 0;
    color: var(--dark);
}

.blog-page__info a h3 { 
    transition: .5s;
}

.blog-page__info a h3:hover {
    color: var(--yellow);
}

.blog-page__info p {
    font-size: 14px;
    color: var(--black);
    text-indent: 20px;
    margin-bottom: 5px;
}

.more {
    color: var(--yellow);
}

.date {
    display: block;
    margin-top: 20px;
}

.pagination ul {
    display: flex;
}

.pagination ul li {
    margin-right: 5px;
}

.pagination ul li:nth-last-of-type(1) {
    margin-right: 0;
}

.pagination ul li a {
    padding: 10px 20px;
    border: 1px solid #000;
    color: var(--dark);
    border-radius: 5px;
    transition: .3s;
}

.pagination ul li a:hover {
    background: var(--dark);
    color: var(--white);
}

.pagination ul li a.active {
    color: var(--white);
    background: var(--dark);
}

.pagination ul li a.disabled {
    color: var(--grey);
    cursor: initial;
}

.pagination ul li a.disabled:hover {
    background: none;
    color: var(--grey);
}

.arrows {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 30px 50px 0 50px;
}

.arrow {
    display: block;
    color: var(--dark);
    text-transform: uppercase;
    font-size: 18px;
    transition: .3s;
}

.arrow:hover {
    color: var(--yellow-80);
}

.arrow i {
    padding: 0 5px;
}

/* ----Our Blog End---- */

/* --------------------------------------------- */

/* ----Contact Us Start---- */
.contact {
    margin-top: 119px;
    padding-bottom: 72px;
}

.contact p {
    margin-top: 59px;
    margin-bottom: 69px;
}

.contact__message {
    display: flex;
    justify-content: space-between;
}

.contact__message img {
    max-width: 571px;
    width: 100%;
    max-height: 471px;
    height: 100%;
    object-fit: cover;
}

.contact__form {
    display: flex;
    flex-direction: column;
    margin-right: 29px;
    width: 100%;
    margin-bottom: 67px;
}

.contact__form h5 {
    font-size: 30px;
    color: var(--dark);
    font-weight: 800;
    line-height: 100px;
}

.contact__form input {
    background: var(--light);
    border: none;
    outline: none;
    padding: 16px 18px 20px 18px;
}

.contact__form input[type="email"] {
    margin-top: 10px;
    margin-bottom: 12px;
}

.contact__form textarea {
    resize: none;
    background: var(--light);
    border: none;
    outline: none;
    padding: 13px 18px;
    margin-bottom: 14px;
}

.contact__form button {
    display: inline-block;
    margin-right: auto;
    background: var(--yellow);
    border: none;
    outline: none;
    padding: 17px 34px 17px 41px;
    font-size: 12px;
    font-weight: 500;
    color: var(--dark);
    position: relative;
    text-transform: uppercase;
}

.contact__form button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 1.5em;
    height: 100%;
    background: rgba(255, 255, 255, 0.4);
    transform: translateX(-4em) skewX(-45deg);
}

.contact__form button:hover::before {
    animation: move-light-3 0.5s;
}

@keyframes move-light-3 {
    from {
        transform: translateX(-4em) skewX(-45deg);
    }

    to {
        transform: translateX(15em) skewX(-45deg);
    }
}

.contact__cards {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    font-style: normal;
    margin-bottom: 75px;
}

.contact__card {
    max-width: 140px;
    width: 100%;
    text-align: center;
}

.contact__card img {
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
}

.contact__card p {
    margin: 0;
    font-size: 12px;
    line-height: 20px;
    color: var(--dark);
    font-weight: 500;
}

.contact__card a {
    display: block;
    font-size: 12px;
    line-height: 20px;
    font-weight: 500;
    color: var(--dark);
}

.contact__social {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact__social a {
    font-size: 30px;
    margin-right: 70px;
    color: var(--dark);
    transition: .5s;
}

.contact__social a:hover {
    color: var(--yellow);
}

.contact__social a:nth-last-child(1) {
    margin-right: 0;
}

/* ----Contact Us End---- */

/* --------------------------------------------- */

/* ----Footer Start---- */
.footer {
    background: var(--dark);
    color: var(--white);
    padding: 63px 0 65px 0;
}

.footer__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__info {
    display: flex;
    align-items: center;
}

.footer__info p {
    padding-left: 28px;
    font-size: 11px;
    line-height: 20px;
    font-weight: 500;
}

.footer__content a {
    color: var(--white);
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 500;
    line-height: 20px;
}

.footer__content a i {
    margin-left: 8px;
}

/* ----Footer End---- */

/* --------------------------------------------- */